<div class="h-full flex flex-col justify-center items-center">
  <h1 class="text-2xl font-bold m-10 text-primary-600">Rate My Mouth</h1>
  <div class="w-[400px] border border-neutral-200 bg-neutral-50 p-5 rounded-lg shadow-sm">
    <h1 class="text-center mb-4">Changer votre mot de passe</h1>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="mb-4">
        <%= f.label :password, "Nouveau mot de passe", class: "block text-sm font-medium text-neutral-700 mb-1" %>
        <% if @minimum_password_length %>
          <span class="text-sm text-neutral-500">(<%= @minimum_password_length %> caractères minimum)</span>
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "px-4 py-2 w-full border border-neutral-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-primary-500 focus:border-primary-500 bg-white" %>
      </div>

      <div class="mb-4">
        <%= f.label :password_confirmation, "Confirmer le nouveau mot de passe", class: "block text-sm font-medium text-neutral-700 mb-1" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "px-4 py-2 w-full border border-neutral-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-primary-500 focus:border-primary-500 bg-white" %>
      </div>

      <div class="mt-6">
        <%= f.submit "Changer mon mot de passe", class: "w-full bg-primary-600 text-white py-2 px-4 text-center rounded-lg hover:bg-primary-700 transition-colors duration-200 ease-in-out focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500 font-medium" %>
      </div>
    <% end %>

    <div id="links" class="mt-4 text-sm">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
